<header>
    <app-profile-header></app-profile-header>
</header>
<div class="container-fluid row">
    <aside *ngIf="user" class="col-md-3 col-lg-2 py-3 text-center">
        <app-user-profile></app-user-profile>
        <div class="text-primary fw-bolder fs-1 pt-5">
            {{ user.more_info.students.length }}
        </div>
        <div>
            active interns
        </div>
    </aside>
    <main class="col-md-9 col-lg-10">
        <ngb-accordion [closeOthers]="true" activeIds="static-1">
            <ng-container *ngFor="let intern of interns; let j=index">
                <ngb-panel id="{{ 'static-'+j+1 }}" [disabled]="!intern.more_info.done.length">
                    <ng-template ngbPanelHeader>
                        <div class="row d-flex justify-content-center">
                            <button ngbPanelToggle class="row text-center border-0" [ngClass]="colors[j%colors.length]">
                                <span class="col-4">{{ intern.first_name }} {{ intern.last_name }}</span>
                                <span class="col-4">{{ intern.more_info.professional.year_in_residency }} year {{ intern.more_info.professional.residency }} intern</span>
                                <span class="col-4">Num tests <b>{{ intern.more_info.done.length }}</b></span>
                            </button>
                        </div>
                    </ng-template>
                    <ng-template ngbPanelContent>
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Fulfilled</th>
                                    <th scope="col">Score</th>
                                    <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <ng-container *ngFor="let test of done; let i=index">
                                        <tr *ngIf="test.intern._id == intern._id">
                                            <th scope="row">{{ i+1 }}</th>
                                            <td>{{ test.test.name }}</td>
                                            <td>{{ test.date | date:'shortDate' }}</td>
                                            <td *ngIf="test.result"><span class="rounded-circle text-center border p-2" [ngClass]="{ 'border-success text-success': test.result > 90, 'border-info text-info': test.result < 91 && test.result > 80, 'border-warning text-warning': test.result < 81 && test.result > 70, 'border-danger text-danger': test.result < 71 }">{{ test.result }}</span></td>
                                            <td *ngIf="!test.result"><input type="number" max="100" class="form-control text-danger" placeholder="not marked" #mark><button [disabled]="!mark" class="btn btn-info" (click)="markTest(test._id, mark.value)">mark</button></td>
                                            <td><button class="btn btn-success" (click)="openFile(test)">open</button></td>
                                        </tr>
                                    </ng-container>
                                </tbody>
                            </table>
                        </div>
                    </ng-template>
                </ngb-panel>
            </ng-container>
        </ngb-accordion>
    </main>
</div>