<header>
  <app-profile-header></app-profile-header>
</header>
<div class="container-fluid row">
  <aside *ngIf="user" class="col-md-3 col-lg-2 py-3 text-center">
      <app-user-profile></app-user-profile>
      <div class="text-primary fw-bolder fs-1 pt-5">
          {{ user.more_info.students.length }}
      </div>
      <div>
          active interns
      </div>
  </aside>
  <main class="col-md-9 col-lg-10">
    <div class="container row d-flex justify-content-center mt-5">
        <label class="form-label col-md-5 col-lg-3 text-center fw-bolder">
            Upload test
            <input class="form-control text-info" type="file" (change)="uploadFile($event.target, 'test')">
        </label>
        <label class="form-label col-md-5 col-lg-3 text-center fw-bolder">
            Upload homework
            <input class="form-control text-info" type="file" (change)="uploadFile($event.target, 'homework')">
        </label>
    </div>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Task</th>
            <th scope="col">Name</th>
            <th scope="col">Modified</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let task of tasks; let i=index">
            <tr>
              <th scope="row">{{ i+1 }}</th>
              <td>{{ task.task }}</td>
              <td>{{ task.name }}</td>
              <td>{{ task.modified | date:'shortDate' }}</td>
              <td><button class="btn btn-success" (click)="openFile(task)">open</button></td>
              <td><button class="btn btn-danger" (click)="deleteFile(task)">delete</button></td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </main>
</div>