<header class="mx-2"><app-login></app-login></header>
<div class="container-fluid d-flex justify-content-center">
    <div class="row align-items-center">
        <div class="col-md-4">
            <img src="/assets/logo.jpg" alt="...">
        </div>
        <div class="col-md-8">
            <button class="border-0 bg-white" (click)="intern()" [ngClass]="{'text-info': choice === 'intern'}">Interns</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button class="border-0 bg-white" (click)="supervisor()" [ngClass]="{'text-info': choice === 'supervisor'}">Suprvisors</button>
            <h1>Welcome, {{ choice }}!</h1>
            <p>This is a wider card with
                <br>
                supporting text below as a natural lead-in to additional
                content.
                <br>
                This content is a little bit longer.
            </p>
            <br><br>
            <button class="p-2" routerLink="/register">REGISTER NOW</button>
        </div>
    </div>
</div>