<header>
    <app-profile-header></app-profile-header>
</header>
<div class="container-fluid d-flex justify-content-center pos-lower">
    <div class="row">
        <div class="col-md-4 text-center">
            <img src="/assets/logo.jpg" alt="logo">
        </div>
        <div class="col-md-8">
            <small>
                Professionally details
            </small>
            <h1>
                Please tell us about yourself professionally
            </h1>
            <form #quesForm2="ngForm">
                <div class="row">
                    <label class="col-md-4 form-label">
                        Medical institution
                        <select class="form-select" name="medInst" [(ngModel)]="medInst" required>
                            <option *ngFor="let inst of infoService.medical_institutions">
                                {{ inst }}
                            </option>
                        </select>
                    </label>
                    <label class="col-md-4 form-label">
                        Residency
                        <select class="form-select" [(ngModel)]="residency" name="residency" required>
                            <option *ngFor="let resid of infoService.residencyList">
                                {{ resid }}
                            </option>
                        </select>
                    </label>
                    <label class="col-md-4 form-label">
                        Department
                        <select class="form-select" name="dep" [(ngModel)]="department" required>
                            <option *ngFor="let depart of infoService.departmentsList">
                                {{ depart }}
                            </option>
                        </select>
                    </label>
                </div>
                <div class="row">
                    <label class="col-md-4 form-label">
                        Year in residency
                        <div style="float: right;" class="bg-primary text-white rounded-circle text-center w-25">
                            {{ yInRes }}
                        </div>
                        <input type="range" max="5" class="form-range" name="yInRes" [(ngModel)]="yInRes" required>
                    </label>
                </div>
                <button class="py-2 px-4" [disabled]="quesForm2.invalid" (click)="updateProfile()">
                    {{ updateButton }}
                </button>
            </form>
        </div>
        <br><br>
        <footer *ngIf="!update" class="row pt-5 mt-5">
            <small class="col-6">
                50% Completed
            </small>
            <span class="col-6 text-end">
                <mat-icon style="cursor:pointer;" title="prev" routerLink="/questionnaire1">
                    west
                </mat-icon>
                &nbsp;&nbsp;
                <mat-icon style="cursor:pointer;" title="next" routerLink="/ready">
                    east
                </mat-icon>
            </span>
            <div class="progress p-0">
                <div class="progress-bar bg-success w-50"></div>
            </div>
        </footer>
    </div>
</div>