<main class="container-fluid">
    <h1 *ngIf="user" class="text-center my-3">
        Hello {{ user.first_name }}!
    </h1>
    <label class="form-label my-3">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="name" [(ngModel)]="searchInput" (keyup)="searchList()" #searchFiled="ngModel" name="searchFiled">
            <button class="btn btn-outline-secondary" type="button" (click)="search()">
                <mat-icon class="pt-2">
                    search
                </mat-icon>
            </button>
        </div>
        <div *ngIf="!searchResults.length && searchFiled.dirty" class="text-danger">
            No results!
        </div>
        <div class="border" *ngIf="searchResults.length">
            <div *ngFor="let result of searchResults" class="result" (click)="search(result.first_name, result.last_name)">
                {{ result.first_name }} {{ result.last_name }}
            </div>
        </div>
    </label>
    <div class="row d-flex justify-content-center">
        <app-user-profile class="col-12 text-center"></app-user-profile>
        <app-user-card class="col-md-4 col-xl-3 py-2" [user]="user" *ngFor="let user of usersToShow"></app-user-card>
    </div>
</main>