<header><app-profile-header></app-profile-header></header>
<div class="container-fluid d-flex justify-content-center">
    <div class="row align-items-center">
        <div class="col-md-4">
            <img src="/assets/logo.jpg" alt="logo">
        </div>
        <div class="col-md-8">
            <h1><span class="text-success">&#10003;</span>Your profile is ready!</h1>
            <br>
            <p>Now you can start using the simulator system: practice, do tests and monitor your progress.</p>
            <button class="py-2 px-4">LOG IN</button>
        </div>
        <footer class="row pt-5 mt-5">
            <small class="col-6">100% Completed</small>
            <span class="col-6 text-end">
                <mat-icon>west</mat-icon>
                &nbsp;&nbsp;
                <mat-icon>east</mat-icon>
            </span>
            <div class="progress p-0">
                <div class="progress-bar bg-success" style="width: 100%;"></div>
            </div>
        </footer>
    </div>
</div>