<div class="container-fluid d-flex justify-content-center pos-lower">
    <div class="row align-items-center">
        <div class="col-md-5 text-center">
            <img src="/assets/logo.jpg" alt="logo">
        </div>
        <div class="col-md-7">
            <h1>Welcome intern!</h1>
            <p>
                Please enter your passport number.
            </p>
            <label class="form-label">Passport<input type="number" class="form-control"></label>
            <br><br>
            <button class="py-2 px-4" routerLink="/register2">SEND</button>
        </div>
    </div>
</div>