<header><app-profile-header></app-profile-header></header>
<div class="container-fluid d-flex justify-content-center">
    <div class="row align-items-center">
        <div class="col-md-4">
            <img src="/assets/logo.jpg" alt="logo">
        </div>
        <div class="col-md-8">
            <small>Personal details</small>
            <h1>Please tell us about yourself personally</h1>
            <form>
                <div class="row">
                    <label class="col-md-4 form-label">Age<input class="form-control" type="text" name="age" [(ngModel)]="formFildes.age" required></label>
                    <label class="col-md-4 form-label">Country<select class="form-select" name="Country" [(ngModel)]="formFildes.country" required>
                        <option>Choose</option>
                    </select></label>
                    <label class="col-md-4 form-label">City<select class="form-select" name="city" [(ngModel)]="formFildes.city" required>
                        <option>Choose</option>
                    </select></label>
                </div>
                <div class="row">
                    <label class="col-md-4 form-label">Graduation year<input class="form-control" type="text" name="gradYear" [(ngModel)]="formFildes.gradYear" required></label>
                    <label class="col-md-4 form-label">Academic institution<select class="form-select" name="acdInst" [(ngModel)]="formFildes.acdInst" required>
                        <option>Choose</option>
                    </select></label>
                </div>
                <button class="py-2 px-4" routerLink="/questionnaire2">NEXT</button>
            </form>
        </div>
        <br><br>
        <footer class="row pt-5 mt-5">
            <small class="col-6">0% Completed</small>
            <span class="col-6 text-end">
                <mat-icon>west</mat-icon>
                &nbsp;&nbsp;
                <mat-icon>east</mat-icon>
            </span>
            <div class="progress">
                <div class="progress-bar bg-success"></div>
            </div>
        </footer>
    </div>
</div>