<header>
    <app-profile-header></app-profile-header>
</header>
<div class="row">
    <aside class="col-md-4 col-lg-3 col-xl-2 py-3 text-center">
        <app-user-profile></app-user-profile>
        <h6 class="pt-5 pb-2">
            Your progress
        </h6>
        <app-users-progres></app-users-progres>
    </aside>
    <main class="col-md-6 col-lg-7 col-xl-8 pt-3 ms-5">
        <h3 class="text-center mb-5">
            Tasks todo
        </h3>
        <ngb-accordion *ngIf="todo.length" [closeOthers]="true" activeIds="static-1">
          <ng-container *ngFor="let tasks of todo; let j = index">
            <ngb-panel id="static-1"  [disabled]="!tasks.tasks.length">
                <ng-template ngbPanelHeader>
                  <div class="row d-flex justify-content-center">
                  <button ngbPanelToggle class="row text-center border-0" [ngClass]="colors[j%colors.length]">
                    <span class="col-4">{{ tasks.supervisor.first_name }} {{ tasks.supervisor.last_name }}</span>
                    <span class="col-4">{{ tasks.supervisor.email }}</span>
                    <span class="col-4">Num tests <b>{{ tasks.tasks.length }}</b></span>
                  </button>        
                </div>              
                </ng-template>
                <ng-template ngbPanelContent>
                    <div class="table-responsive">
                        <table class="table table-striped">
                        <thead>
                            <tr>
                              <th scope="col">#</th>
                              <th scope="col">Task</th>
                              <th scope="col">Name</th>
                              <th scope="col">Modified</th>
                              <th scope="col"></th>
                              <th scope="col"></th>
                              <th scope="col">Upload answer</th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let task of tasks.tasks; let i=index">
                            <tr>
                                <th scope="row">{{ i+1 }}</th>
                                <td>{{ task.task }}</td>
                                <td>{{ task.name }}</td>
                                <td>{{ task.modified | date:'shortDate' }}</td>
                                <td><button class="btn btn-success" (click)="openFile(task)">open</button></td>
                                <td><button class="btn btn-coral" (click)="downloadFile(task)">download</button></td>
                                <td><input type="file" class="form-control" (change)="uploadFile($event.target, task)"></td>
                            </tr>
                            </ng-container>
                        </tbody>
                        </table>
                    </div>
                </ng-template>
            </ngb-panel>
          </ng-container>
        </ngb-accordion>
    </main>
</div>