<header>
  <app-login-header></app-login-header>
</header>
<div class="container-fluid d-flex justify-content-center pos-lower">
    <div class="row">
        <div class="col-md-6">
            <h3>
              {{ user.first_name }},&nbsp;
              <span [ngClass]="{ 'text-success': webcamImage, 'text-danger': errors.length > 0 || numTry > 0 && !webcamImage }">
                {{ msg }}
              </span>
            </h3>
        </div>
        <div class="col-md-6">
            <div class="text-center border border-5" style="width:fit-content;" [ngClass]="{ 'border-danger': numTry > 5, 'border-success': webcamImage }">
              <div *ngIf="!webcamImage && errors.length == 0">
                <webcam [height]="350" [width]="350" [trigger]="triggerObservable" 
                  (imageCapture)="handleImage($event)" (initError)="handleInitError($event)">
                </webcam>
              </div> 
              <div class="snapshot" *ngIf="webcamImage">
                <img [src]="webcamImage.imageAsDataUrl" height="250"/>
              </div>
              
              <h4 *ngIf="errors.length > 0">Messages:</h4>
              <ul *ngFor="let error of errors">
                <li>{{error | json}}</li>
              </ul>
            </div>
        </div>
    </div>
</div>