<header class="mx-2">
  <app-login-header></app-login-header>
</header>
<div class="container-fluid d-flex justify-content-center pos-lower">
    <div class="row">
        <div class="col-md-6">
            <h3>{{ user.firstName }}, please look straight at the camera so we can spot you</h3>
        </div>
        <div class="col-md-6">
            <div class="text-center">
                <div *ngIf="!webcamImage && errors.length == 0">
                  <webcam [height]="350" [width]="350" [trigger]="triggerObservable" 
                  (imageCapture)="handleImage($event)" (initError)="handleInitError($event)">
                  </webcam>
                  <br/>
                  <button class="actionBtn" (click)="triggerSnapshot();">Take A Snapshot</button>
                  <br/>
                </div> 
              <div class="snapshot" *ngIf="webcamImage">
                <img [src]="webcamImage.imageAsDataUrl" height="250"/>
                <button routerLink="/welcome" (click)="register()">Continue</button>
              </div>
              
              <h4 *ngIf="errors.length > 0">Messages:</h4>
              <ul *ngFor="let error of errors">
                <li>{{error | json}}</li>
              </ul>
            </div>
        </div>
    </div>
</div>