<header>
    <app-login-header></app-login-header>
</header>
<ng-container *ngIf="user">
    <div class="container-fluid d-flex justify-content-center text-center pos-lower">
        <div class="row">
            <div class="col-md-4">
                <img src="/assets/logo.jpg" alt="logo">
            </div>
            <div class="col-md-8">
                <h3>Hi {{ user.first_name }}!</h3>
                <div>
                    You will recive a verification code to:
                    <div class="fw-bold mb-2">
                        <small> {{ user.telephone }}</small>
                    </div>
                </div>
                <div><small>type the mobile verification code you received</small></div>
                <input max="9" min="0" (keyup)="onDigitInput($event)" class="m-1 m-lg-2" [ngClass]="{'bg-danger text-white border-0': wrong}" type="number" [(ngModel)]="first" required autofocus>
                <input max="9" min="0" (keyup)="onDigitInput($event)" class="m-1 m-lg-2" [ngClass]="{'bg-danger text-white border-0': wrong}" type="number" [(ngModel)]="second" required>
                <input max="9" min="0" (keyup)="onDigitInput($event)" class="m-1 m-lg-2" [ngClass]="{'bg-danger text-white border-0': wrong}" type="number" [(ngModel)]="third" required>
                <input max="9" min="0" (keyup)="onDigitInput($event)" class="m-1 m-lg-2" [ngClass]="{'bg-danger text-white border-0': wrong}" type="number" [(ngModel)]="fourth" required>
                <div class="my-4">I did not receive, <a routerLink="/register2">resend</a>
                    <br>
                    <a class="link" style="cursor: pointer;" (click)="open(content)">Wrong number?</a>
                </div>
                <button class="py-2 px-4" (click)="register()">CONTINUE</button>
            </div>
        </div>
    </div>
</ng-container>

<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Update phone number</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <label class="form-label">Pohne number
          <input type="text" class="form-control" placeholder="055-555-5555" ngModel #telephone="ngModel" name="telephone" pattern="[0-9]{10}" required>
        </label>
    </div>
    <div class="modal-footer">
      <button [disabled]="telephone.invalid" type="button" class="btn btn-outline-dark" (click)="c('Save click'); save(telephone.value)" routerLink="/register2">Save</button>
    </div>
</ng-template>