<header class="mx-2">
    <app-login></app-login>
</header>
<div class="container-fluid d-flex justify-content-center">
    <div class="row align-items-center">
        <div class="col-md-3">
            <img src="/assets/logo.jpg" alt="...">
        </div>
        <div class="col-md-9">
            <h1 class="my-3">Welcome, intern!</h1>
            <h6 class="my-3">please fill in the following fields to create an acounnt</h6>
            <form #regForm="ngForm">
                <div class="row my-3">            
                    <label class="form-label col-4">
                        ID number
                        <input type="text" class="form-control" placeholder="id" [(ngModel)] = "id" name="idn" #idn="ngModel" required>
                        <small class="text-danger" *ngIf="idn.touched && idn.invalid">This is required.</small>
                    </label>                 
                    <label class="form-label col-4">
                        Full name
                        <input type="text" class="form-control" placeholder="name" [(ngModel)] = "fullName" name="fname" #name="ngModel" required>
                        <small class="text-danger" *ngIf="name.touched && name.invalid">This is required.</small>
                        <small class="text-danger" *ngIf="fullName.length > 0 && !fullName.split(' ')[1]">please enter full name.</small>
                    </label>       
                    <label class="form-label col-4">
                        Passport/Citizenship id
                        <input type="text" class="form-control" placeholder="passport" [(ngModel)] = "passport" name="pass" #pass="ngModel" required>
                        <small class="text-danger" *ngIf="pass.touched && pass.invalid">This is required.</small>
                    </label>
                </div>
                <div class="row my-3">
                    <label class="form-label col-8">
                        Pohne number
                        <input type="tel" class="form-control" placeholder="telephone" [(ngModel)] = "telephone" name="tel" required>
                        <small class="fw-bold">A verification code will be sent to you to this number</small>
                    </label>
                </div>
                <button [disabled]="regForm.invalid" routerLink="/register2" (click)="register()" type="submit" class="p-2">CONTINUE</button>
            </form>
        </div>
    </div>
</div>
