<div class="mx-2 my-3 text-end">
  <div ngbDropdown class="d-inline-block" #profileDrop="ngbDropdown" placement="bottom-right">
    <img ngbDropdownAnchor [src]="user.pic?.imageAsDataUrl" alt="profile pic" height="60px" class="rounded-circle" id="dropdownBasic1" (mouseover)="profileDrop.open()">
    <div ngbDropdownMenu (mouseleave)="profileDrop.close()">
      <div class="fw-bold text-center">{{ user.first_name }}</div>
      <div class="fw-bold text-center">{{ user.last_name }}</div>
      <button ngbDropdownItem routerLink="/questionnaire1">Edit personal</button>
      <button ngbDropdownItem routerLink="/questionnaire2">Edit professionall</button>
      <button ngbDropdownItem routerLink="/register3">Change pic</button>
      <button ngbDropdownItem routerLink="/">Logout</button>
    </div>
  </div>
</div>