<div class="mx-2 my-3 text-end">
  <div ngbDropdown class="d-inline-block" #profileDrop="ngbDropdown" placement="bottom-right">
    <img ngbDropdownAnchor [src]="user.pic?.imageAsDataUrl" alt="profile pic" height="60px" style="border-radius: 10rem;" id="dropdownBasic1" (mouseover)="profileDrop.open()">
    <div ngbDropdownMenu (mouseleave)="profileDrop.close()">
      <button ngbDropdownItem>Action - 1</button>
      <button ngbDropdownItem>Another Action</button>
      <button ngbDropdownItem>Something else is here</button>
    </div>
  </div>
</div>